.carlousel
   width: 100%
   background: #5c5c58
   height: 200px
   margin-bottom: 100px
   display: flex
   overflow: scroll
   cursor: pointer
   user-select: none
   overflow-y: hidden

   &__box
      min-width: 400px
      height: 80%
      background: orange
      margin: 20px
