.navigation
    width: 100%

    .container 
        display: flex
        justify-content: space-between

    &__links 
        list-style-type: none
        padding: 0
        display: none

    &__author
        align-self: center
        color: $primaryBlue
