.projects
   background: $backgroundGray
   padding: 5rem 0

   &__desc
      text-align: center

   &__header
      display: inline
      position: relative

      &::after
         content: ''
         background: $primaryBlue
         height: 2px
         display: block
         position: absolute
         width: 70%
         left: 50%
         transform: translate(-50%, 28px)

   &__body
      margin-top: 44px + 28px
      color: $sectionBodyColor

   @include useMinWidth(750px)
      &__desc
         width: 60%
         margin: 0 auto 2rem auto

      &
         padding: 7rem 0

   @include useMinWidth(1020px)
      &__desc
         width: 50%

   @include useMinWidth(1132px)
      &__desc
         width: 40%
      
